<ion-header>
  <ion-toolbar>
    <ion-button color="success" slot="start" [routerLink]="['/Agregar']" routerLinkActive="router-link-active">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-title>Conexiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="this.Refrescar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="this.Conexiones.length > 0; else Imagen">
    <ion-list>
      <ion-item *ngFor="let Item of this.Conexiones; let i = index" lines="full">
        <ion-avatar slot="start">
          <img src="https://png.icons8.com/color/1600/mongodb.png">
        </ion-avatar>
        <ion-label>{{Item.BaseDatos}}</ion-label>
        <ion-button fill="outline" (click)="this.Accion(i)" color="success">
          Opciones
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #Imagen>
    <ion-img style="height: 100%;" src="https://icon-icons.com/icons2/1353/PNG/512/if-word-18-2875628_88181.png"></ion-img>
  </ng-template>
</ion-content>