<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="end" (click)="this.Accion()">
      <ion-icon slot="icon-only" name="md-menu" color="success"></ion-icon>
    </ion-button>
    <ion-title>{{this.Datos.BaseDatos}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="this.Refrescar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="this.Colecciones.length > 0; else Imagen" style="padding-top: 20px">
    <ion-list *ngFor="let item of this.Colecciones; let i = index">
      <ion-item lines="full">
        <ion-button fill="clear" (click)="this.Documentos(i, item)">
          <ion-icon slot="icon-only" name="arrow-forward" color="success" *ngIf="this.Seleccion != i"></ion-icon>
          <ion-icon slot="icon-only" name="arrow-down" color="success" *ngIf="this.Seleccion == i"></ion-icon>
        </ion-button>
        <ion-label>{{item}}</ion-label>
        <ion-buttons>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="md-close" color="danger"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="md-add" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item *ngIf="this.Seleccion == i" lines="full">
        <ion-spinner name="dots" *ngIf="this.Spin"></ion-spinner>
        <ion-list>
          <ion-item *ngFor="let Docs of this.DocumentosCol; let i = index">
            <ion-button fill="clear" (click)="this.SelectId(Docs._id, i)">
              <ion-icon slot="icon-only" name="arrow-forward" color="success" *ngIf="this.SeleccionId != Docs._id"></ion-icon>
              <ion-icon slot="icon-only" name="arrow-down" color="success" *ngIf="this.SeleccionId == Docs._id"></ion-icon>
            </ion-button>
            <ion-label>{{Docs._id}}</ion-label>
            <ion-grid>
              <ion-row *ngIf="this.SeleccionId == Docs._id">
                <ion-col size="12">
                  <ion-label>{{this.Doc}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #Imagen>
    <ion-img style="height: 100%;" src="https://icon-icons.com/icons2/1353/PNG/512/if-word-18-2875628_88181.png"></ion-img>
  </ng-template>
</ion-content>